flow.json
[
    {
        "id": "fb5738a77d24f8d4",
        "type": "tab",
        "label": "Settings",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e02fb78e674d1e65",
        "type": "tab",
        "label": "Bot",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "375d5c966656b361",
        "type": "tab",
        "label": "Links",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "af0e239fff0b28cb",
        "type": "group",
        "z": "fb5738a77d24f8d4",
        "name": "Credentials",
        "style": {
            "fill": "#e3f3d3",
            "label": true
        },
        "nodes": [
            "8ecbfc06bc9f14e6",
            "546fccd91bd0c1fe",
            "56b615fdae6f5b7a",
            "7b18f9005dfed6d8",
            "2947b0da37b1b5bf",
            "4794739f0ca7f4d4",
            "4f4297eea101504b",
            "54d3949016ccd055",
            "70fa563524bce094",
            "22ca0fc049e4fb3a",
            "9e2c5ec10d494689",
            "57ec30d9da3742eb",
            "f3f0cea32f89e7ca",
            "b35713f8d22c2279"
        ],
        "x": 14,
        "y": 679,
        "w": 852,
        "h": 322
    },
    {
        "id": "7a97228176a3408a",
        "type": "group",
        "z": "fb5738a77d24f8d4",
        "name": "CRUD Avatars",
        "style": {
            "fill": "#bfdbef",
            "label": true
        },
        "nodes": [
            "43bfe33e6a378328",
            "a298efd64088f5a0",
            "39802f352be3083e",
            "6e7b6a07eb0c5dc0",
            "b570594b2c92e3c0",
            "7df0f57e8cdeae4e",
            "a92395d2a0030b41",
            "aa1e0752d37c7b39",
            "f7641d49ab6ba0e4",
            "96b5ed9783a4a440",
            "4376972e7209e2ec",
            "7fe216677821ddd5",
            "444098b8562acd7b",
            "5862302fb38e1d7a",
            "000c2b03b0dfc19e",
            "a84dd7f56aa89c8d",
            "df170f6c217565e6",
            "6c7d66aa5c729d7b",
            "e1a4a227148090a8",
            "25fbfab556855406",
            "e9ce8608103ec97e",
            "fd461c4712717168",
            "30de89d5e717300e",
            "9e39125f5b5c48b0",
            "d07e739dc286aac7",
            "4ad2a750cf4f64b2",
            "d39f6c4f02a963e8",
            "752d3c0fb683bc3d",
            "ea4ce5a83de83e99",
            "3c70fd4e37af8b4f",
            "11c43033edb6814f",
            "e12d1cc87a6fa9be",
            "cd45a3915eb3e765",
            "9495f99fe09e751a",
            "f1e2d789a1a7b92f",
            "fdd8a17f7ca948d1",
            "ed6187075b52d3e1",
            "44d601641c19f080",
            "03d1b6dbc51ce0d7",
            "122575676cab76ca",
            "7c5a9a2c9bcff740",
            "93ace29d77f702db",
            "35382b479daaa177"
        ],
        "x": 14,
        "y": -1,
        "w": 1632,
        "h": 502
    },
    {
        "id": "f168eeb2f9b6dc07",
        "type": "mongodb",
        "hostname": "${VIDEOAIDB-MONGO-HOST-NAME}",
        "topology": "direct",
        "connectOptions": "authSource=admin",
        "port": "27017",
        "db": "${VIDEOAIDB-MONGO-DB-NAME}",
        "name": ""
    },
    {
        "id": "43bfe33e6a378328",
        "type": "function",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "deleteAvatarById",
        "func": "msg.collection = 'avatars';\nmsg.query = {\n    _id: objectid(msg.payload._id)\n}\ndelete msg.payload._id\nmsg.payload = {\n    $set: {\n        deleted: true\n    }\n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "objectid",
                "module": "objectid"
            }
        ],
        "x": 370,
        "y": 400,
        "wires": [
            [
                "39802f352be3083e"
            ]
        ]
    },
    {
        "id": "a298efd64088f5a0",
        "type": "http in",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "",
        "url": "/deleteAvatar",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 148.119140625,
        "y": 398.875,
        "wires": [
            [
                "43bfe33e6a378328"
            ]
        ]
    },
    {
        "id": "39802f352be3083e",
        "type": "link call",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "",
        "links": [
            "4858d251cc2afe5c"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 560,
        "y": 400,
        "wires": [
            [
                "6e7b6a07eb0c5dc0"
            ]
        ]
    },
    {
        "id": "6e7b6a07eb0c5dc0",
        "type": "http response",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 710,
        "y": 400,
        "wires": []
    },
    {
        "id": "b570594b2c92e3c0",
        "type": "http in",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "",
        "url": "/uploadAvatar",
        "method": "post",
        "upload": true,
        "swaggerDoc": "",
        "x": 150,
        "y": 40,
        "wires": [
            [
                "7df0f57e8cdeae4e"
            ]
        ]
    },
    {
        "id": "7df0f57e8cdeae4e",
        "type": "function",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "write file into buffer",
        "func": "msg.buffer = msg.req.files[0].buffer\nmsg.path = `/data/storage/avatar/${msg.req.files[0].originalname}`\nmsg.payload = msg.req.files[0].buffer\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 40,
        "wires": [
            [
                "a92395d2a0030b41"
            ]
        ]
    },
    {
        "id": "a92395d2a0030b41",
        "type": "file",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "",
        "filename": "path",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 560,
        "y": 40,
        "wires": [
            [
                "f7641d49ab6ba0e4"
            ]
        ]
    },
    {
        "id": "aa1e0752d37c7b39",
        "type": "http response",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1270,
        "y": 40,
        "wires": []
    },
    {
        "id": "f7641d49ab6ba0e4",
        "type": "function",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "create avatar object",
        "func": "msg.collection = 'avatars';\n\nconst thumbnail_url = `${env.get(\"NODEREDURL\")}/downloadAvatar?avatar=${msg.req.files[0].originalname}`;\nlet avatar = { \n    createdAt: Date.now(),\n    presenter_id: objectid(), \n    thumbnail_url,\n    sourse: \"user\",\n    selected:false,\n    deleted: false };\nmsg.payload = avatar;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "objectid",
                "module": "objectid"
            }
        ],
        "x": 760,
        "y": 40,
        "wires": [
            [
                "96b5ed9783a4a440"
            ]
        ]
    },
    {
        "id": "8ecbfc06bc9f14e6",
        "type": "http in",
        "z": "fb5738a77d24f8d4",
        "g": "af0e239fff0b28cb",
        "name": "",
        "url": "/saveCredentials",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 720,
        "wires": [
            [
                "70fa563524bce094"
            ]
        ]
    },
    {
        "id": "546fccd91bd0c1fe",
        "type": "http response",
        "z": "fb5738a77d24f8d4",
        "g": "af0e239fff0b28cb",
        "name": "response credentials",
        "statusCode": "",
        "headers": {},
        "x": 720,
        "y": 720,
        "wires": []
    },
    {
        "id": "56b615fdae6f5b7a",
        "type": "http in",
        "z": "fb5738a77d24f8d4",
        "g": "af0e239fff0b28cb",
        "name": "",
        "url": "/getCredentials",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 800,
        "wires": [
            [
                "7b18f9005dfed6d8"
            ]
        ]
    },
    {
        "id": "7b18f9005dfed6d8",
        "type": "function",
        "z": "fb5738a77d24f8d4",
        "g": "af0e239fff0b28cb",
        "name": "sortCredentials",
        "func": "msg.collection = 'credentials';\nmsg.payload = {};\nmsg.sort = { '_id': -1 };\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 800,
        "wires": [
            [
                "4f4297eea101504b"
            ]
        ]
    },
    {
        "id": "2947b0da37b1b5bf",
        "type": "http response",
        "z": "fb5738a77d24f8d4",
        "g": "af0e239fff0b28cb",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 790,
        "y": 800,
        "wires": []
    },
    {
        "id": "4794739f0ca7f4d4",
        "type": "function",
        "z": "fb5738a77d24f8d4",
        "g": "af0e239fff0b28cb",
        "name": "getLastCredential",
        "func": "\nif (msg.payload.length > 0) {\n    msg.payload = msg.payload[0];\n} else {\n    msg.payload = {\n        \"_id\": '',\n        \"botName\": '',\n        \"botToken\": '',\n        \"openAIKey\": '',\n        \"elevenlabsKey\": '',\n        \"elevenlabsVoice\": '',\n        \"d_idKey\": '',\n        \"d_idAvatar\": '',\n        \"d_idActor\": '',\n        \"prompt\": '',\n        \"greetings\": ''\n    \n    }\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 800,
        "wires": [
            [
                "2947b0da37b1b5bf"
            ]
        ]
    },
    {
        "id": "4f4297eea101504b",
        "type": "link call",
        "z": "fb5738a77d24f8d4",
        "g": "af0e239fff0b28cb",
        "name": "",
        "links": [
            "2ea4d611b4476b64"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 470,
        "y": 800,
        "wires": [
            [
                "4794739f0ca7f4d4"
            ]
        ]
    },
    {
        "id": "54d3949016ccd055",
        "type": "link call",
        "z": "fb5738a77d24f8d4",
        "g": "af0e239fff0b28cb",
        "name": "",
        "links": [
            "850f26bd11c45c81"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 520,
        "y": 720,
        "wires": [
            [
                "546fccd91bd0c1fe"
            ]
        ]
    },
    {
        "id": "70fa563524bce094",
        "type": "function",
        "z": "fb5738a77d24f8d4",
        "g": "af0e239fff0b28cb",
        "name": "setCollection",
        "func": "msg.collection = 'credentials';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 720,
        "wires": [
            [
                "54d3949016ccd055"
            ]
        ]
    },
    {
        "id": "22ca0fc049e4fb3a",
        "type": "complete",
        "z": "fb5738a77d24f8d4",
        "g": "af0e239fff0b28cb",
        "name": "",
        "scope": [
            "546fccd91bd0c1fe"
        ],
        "uncaught": false,
        "x": 110,
        "y": 880,
        "wires": [
            [
                "57ec30d9da3742eb"
            ]
        ]
    },
    {
        "id": "9e2c5ec10d494689",
        "type": "inject",
        "z": "fb5738a77d24f8d4",
        "g": "af0e239fff0b28cb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 960,
        "wires": [
            [
                "57ec30d9da3742eb"
            ]
        ]
    },
    {
        "id": "57ec30d9da3742eb",
        "type": "function",
        "z": "fb5738a77d24f8d4",
        "g": "af0e239fff0b28cb",
        "name": "getLastCredential",
        "func": "msg.collection = 'credentials';\nmsg.payload = {};\nmsg.sort = { '_id': -1 };\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 920,
        "wires": [
            [
                "b35713f8d22c2279"
            ]
        ]
    },
    {
        "id": "f3f0cea32f89e7ca",
        "type": "function",
        "z": "fb5738a77d24f8d4",
        "g": "af0e239fff0b28cb",
        "name": "saveCurentCredentialToGlobal",
        "func": "const data = msg.payload[0];\n\nlet process_env = {\n    \"_id\": data._id,\n    \"botName\": data.botName ? data.botName.trim() : '',\n    \"botToken\": data.botToken ? data.botToken.trim() : '',\n    \"openAIKey\": data.openAIKey ? data.openAIKey.trim() : '',\n    \"elevenlabsKey\": data.elevenlabsKey ? data.elevenlabsKey.trim() : '',\n    \"elevenlabsVoice\": data.elevenlabsVoice ? data.elevenlabsVoice.trim() : '',\n    \"d_idKey\": data.d_idKey ? data.d_idKey.trim() : '',\n    \"d_idAvatar\": data.d_idAvatar ? data.d_idAvatar.trim() : '',\n    \"d_idActor\": data.d_idActor ? data.d_idActor.trim() : '',\n    \"prompt\": data.prompt ? data.prompt.trim() : '',\n    \"greetings\": data.greetings ? data.greetings.trim() : ''\n}\n\nglobal.set(\"botCredential\", process_env);\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "b35713f8d22c2279",
        "type": "link call",
        "z": "fb5738a77d24f8d4",
        "g": "af0e239fff0b28cb",
        "name": "",
        "links": [
            "2ea4d611b4476b64"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 490,
        "y": 920,
        "wires": [
            [
                "f3f0cea32f89e7ca"
            ]
        ]
    },
    {
        "id": "96b5ed9783a4a440",
        "type": "link call",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "",
        "links": [
            "850f26bd11c45c81"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 940,
        "y": 40,
        "wires": [
            [
                "4376972e7209e2ec"
            ]
        ]
    },
    {
        "id": "4376972e7209e2ec",
        "type": "function",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "return avatar",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 40,
        "wires": [
            [
                "aa1e0752d37c7b39"
            ]
        ]
    },
    {
        "id": "7fe216677821ddd5",
        "type": "http in",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "",
        "url": "/getAllAvatars",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "6c7d66aa5c729d7b"
            ]
        ]
    },
    {
        "id": "444098b8562acd7b",
        "type": "function",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "fetchActors",
        "func": "msg.collection = 'avatars';\nconst BASE_URL = \"https://api.d-id.com/clips/presenters\";\nconst key = msg.payload.key;\n\nmsg.headers = {\n    \"accept\": \"application/json\",\n    \"Authorization\": `Bearer  ${key}`\n}\nmsg.method = \"GET\";\n\nmsg.url = `${BASE_URL}`;\n\n\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "objectid",
                "module": "objectid"
            }
        ],
        "x": 330,
        "y": 220,
        "wires": [
            [
                "000c2b03b0dfc19e"
            ]
        ]
    },
    {
        "id": "5862302fb38e1d7a",
        "type": "http response",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1570,
        "y": 180,
        "wires": []
    },
    {
        "id": "000c2b03b0dfc19e",
        "type": "http request",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 510,
        "y": 220,
        "wires": [
            [
                "a84dd7f56aa89c8d"
            ]
        ]
    },
    {
        "id": "a84dd7f56aa89c8d",
        "type": "function",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "checkExistenceActorsInDb",
        "func": "if (msg.statusCode == 200) {\n    let presenters=msg.payload.presenters;\n    let actors = presenters.map(presenter => {\n        // Витягуємо необхідні дані для створення об'єкта actor\n        let { presenter_id, thumbnail_url } = presenter;\n\n        // Створюємо об'єкт actor\n        return {\n            createdAt: Date.now(),\n            presenter_id,\n            thumbnail_url,\n            source: \"d_id\",\n            selected: false,\n            deleted: false\n        };\n    });\n    msg.actors = actors;\n    // Записуємо actors в msg.payload\n    msg.payload = {\n        presenter_id: { $in: msg.actors.map(actor => actor.presenter_id) }\n    }\n   return msg;\n} else {\n    msg.payload = {\n        type: 'message',\n        content: \"ERROR. Sorry, something went wrong 😞\",\n       \n    }\n\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 220,
        "wires": [
            [
                "cd45a3915eb3e765"
            ]
        ]
    },
    {
        "id": "df170f6c217565e6",
        "type": "http in",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "",
        "url": "/getActors",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 220,
        "wires": [
            [
                "444098b8562acd7b"
            ]
        ]
    },
    {
        "id": "6c7d66aa5c729d7b",
        "type": "function",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "sort Avatars",
        "func": "msg.collection = 'avatars';\nmsg.payload = {\n    deleted: false\n};\nmsg.sort = { 'createdAt': -1 };\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 280,
        "wires": [
            [
                "25fbfab556855406"
            ]
        ]
    },
    {
        "id": "e1a4a227148090a8",
        "type": "http response",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 870,
        "y": 280,
        "wires": []
    },
    {
        "id": "25fbfab556855406",
        "type": "link call",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "",
        "links": [
            "2ea4d611b4476b64"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 510,
        "y": 280,
        "wires": [
            [
                "122575676cab76ca"
            ]
        ]
    },
    {
        "id": "e9ce8608103ec97e",
        "type": "inject",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 340,
        "wires": [
            [
                "6c7d66aa5c729d7b"
            ]
        ]
    },
    {
        "id": "fd461c4712717168",
        "type": "function",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "checkExisting",
        "func": "if (msg.payload.avatar !== \"\" && msg.payload.avatar !== \"null\" && msg.payload.avatar !== undefined && msg.payload.avatar !== \"undefined\"){\n    return [msg,null]\n}else{\n    return [null,msg]\n}\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 120,
        "wires": [
            [
                "9e39125f5b5c48b0"
            ],
            [
                "d07e739dc286aac7"
            ]
        ]
    },
    {
        "id": "30de89d5e717300e",
        "type": "http in",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "",
        "url": "/downloadAvatar",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "fd461c4712717168"
            ]
        ]
    },
    {
        "id": "9e39125f5b5c48b0",
        "type": "delay",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 485,
        "y": 100,
        "wires": [
            [
                "4ad2a750cf4f64b2"
            ]
        ],
        "l": false
    },
    {
        "id": "d07e739dc286aac7",
        "type": "http response",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 530,
        "y": 160,
        "wires": []
    },
    {
        "id": "4ad2a750cf4f64b2",
        "type": "function",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "initPath",
        "func": "\nmsg.filename = `/data/storage/avatar/${msg.payload.avatar}`\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 100,
        "wires": [
            [
                "d39f6c4f02a963e8"
            ]
        ]
    },
    {
        "id": "d39f6c4f02a963e8",
        "type": "file in",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 740,
        "y": 100,
        "wires": [
            [
                "752d3c0fb683bc3d"
            ]
        ]
    },
    {
        "id": "752d3c0fb683bc3d",
        "type": "function",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "getFile",
        "func": "msg.headers = {\n    'Content-Type': 'image/*',\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 100,
        "wires": [
            [
                "ea4ce5a83de83e99"
            ]
        ]
    },
    {
        "id": "ea4ce5a83de83e99",
        "type": "http response",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1030,
        "y": 100,
        "wires": []
    },
    {
        "id": "c68c75fac53ea377",
        "type": "inject",
        "z": "fb5738a77d24f8d4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 600,
        "wires": [
            [
                "582a6268302445b6"
            ]
        ]
    },
    {
        "id": "582a6268302445b6",
        "type": "function",
        "z": "fb5738a77d24f8d4",
        "name": "deleteAvatarsCollection",
        "func": "msg.collection = 'avatars';\nmsg.payload= {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 600,
        "wires": [
            [
                "e7020a361461f03a"
            ]
        ]
    },
    {
        "id": "e7020a361461f03a",
        "type": "mongodb out",
        "z": "fb5738a77d24f8d4",
        "mongodb": "f168eeb2f9b6dc07",
        "name": "",
        "collection": "avatars",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 750,
        "y": 600,
        "wires": []
    },
    {
        "id": "3c70fd4e37af8b4f",
        "type": "inject",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "444098b8562acd7b"
            ]
        ]
    },
    {
        "id": "11c43033edb6814f",
        "type": "link call",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "",
        "links": [
            "850f26bd11c45c81"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1260,
        "y": 180,
        "wires": [
            [
                "e12d1cc87a6fa9be"
            ]
        ]
    },
    {
        "id": "e12d1cc87a6fa9be",
        "type": "function",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "return actors",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1410,
        "y": 180,
        "wires": [
            [
                "5862302fb38e1d7a"
            ]
        ]
    },
    {
        "id": "cd45a3915eb3e765",
        "type": "link call",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "",
        "links": [
            "2ea4d611b4476b64"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 950,
        "y": 220,
        "wires": [
            [
                "9495f99fe09e751a"
            ]
        ]
    },
    {
        "id": "9495f99fe09e751a",
        "type": "function",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "condition",
        "func": "if (msg.payload.length > 0) {\n    msg.statusCode = 200;\n    return [null, msg]\n} else {\n    msg.payload = msg.actors\n    return [msg, null]\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 220,
        "wires": [
            [
                "11c43033edb6814f"
            ],
            [
                "f1e2d789a1a7b92f"
            ]
        ]
    },
    {
        "id": "f1e2d789a1a7b92f",
        "type": "http response",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1250,
        "y": 240,
        "wires": []
    },
    {
        "id": "fdd8a17f7ca948d1",
        "type": "http in",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "",
        "url": "/selectAvatar",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 460,
        "wires": [
            [
                "44d601641c19f080"
            ]
        ]
    },
    {
        "id": "ed6187075b52d3e1",
        "type": "http response",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1070,
        "y": 460,
        "wires": []
    },
    {
        "id": "44d601641c19f080",
        "type": "function",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "setSelectedTrue",
        "func": "msg.collection = 'avatars';\n\nmsg.query = {\n    _id: objectid(msg.payload._id)\n};\nmsg.target = {\n    _id: objectid(msg.payload._id)\n};\n\nmsg.payload = {\n    $set: {\n        selected: true\n    }\n};\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "objectid",
                "module": "objectid"
            }
        ],
        "x": 360,
        "y": 460,
        "wires": [
            [
                "03d1b6dbc51ce0d7"
            ]
        ]
    },
    {
        "id": "03d1b6dbc51ce0d7",
        "type": "link call",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "",
        "links": [
            "4858d251cc2afe5c"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 540,
        "y": 460,
        "wires": [
            [
                "93ace29d77f702db"
            ]
        ]
    },
    {
        "id": "122575676cab76ca",
        "type": "function",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "returnStatusCode",
        "func": "if (msg.payload.length > 0) {\n    msg.statusCode = 200;\n    return [msg, null]\n} else {\n    return [null, msg]\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 280,
        "wires": [
            [
                "e1a4a227148090a8",
                "7c5a9a2c9bcff740"
            ]
        ]
    },
    {
        "id": "7c5a9a2c9bcff740",
        "type": "debug",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 340,
        "wires": []
    },
    {
        "id": "93ace29d77f702db",
        "type": "function",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "setSelectedFalse",
        "func": "msg.multi = true;\nmsg.upsert = false;\nmsg.query = {\n    _id: { $ne: objectid(msg.target._id) } // Всі, крім обраного об'єкта\n};\nmsg.payload = {\n    $set: {\n        selected: false\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "objectid",
                "module": "objectid"
            }
        ],
        "x": 730,
        "y": 460,
        "wires": [
            [
                "35382b479daaa177"
            ]
        ]
    },
    {
        "id": "35382b479daaa177",
        "type": "link call",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "",
        "links": [
            "4858d251cc2afe5c"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 920,
        "y": 460,
        "wires": [
            [
                "ed6187075b52d3e1"
            ]
        ]
    },
    {
        "id": "2ea4d611b4476b64",
        "type": "link in",
        "z": "375d5c966656b361",
        "name": "findDB",
        "links": [],
        "x": 110,
        "y": 100,
        "wires": [
            [
                "ccfe58d6c0c35bad"
            ]
        ],
        "l": true
    },
    {
        "id": "2e067bd1492a1a46",
        "type": "link out",
        "z": "375d5c966656b361",
        "name": "link out 3",
        "mode": "return",
        "links": [],
        "x": 415,
        "y": 100,
        "wires": []
    },
    {
        "id": "850f26bd11c45c81",
        "type": "link in",
        "z": "375d5c966656b361",
        "name": "insertDB",
        "links": [],
        "x": 120,
        "y": 220,
        "wires": [
            [
                "ad76acd06af34364",
                "7a3aef4bde311dfa"
            ]
        ],
        "l": true
    },
    {
        "id": "7a3aef4bde311dfa",
        "type": "link out",
        "z": "375d5c966656b361",
        "name": "link out 4",
        "mode": "return",
        "links": [],
        "x": 235,
        "y": 180,
        "wires": []
    },
    {
        "id": "4858d251cc2afe5c",
        "type": "link in",
        "z": "375d5c966656b361",
        "name": "updateDB",
        "links": [],
        "x": 120,
        "y": 340,
        "wires": [
            [
                "33bdd240470ffc2b",
                "ba42b3f1e81a19d9"
            ]
        ],
        "l": true
    },
    {
        "id": "ba42b3f1e81a19d9",
        "type": "link out",
        "z": "375d5c966656b361",
        "name": "link out 5",
        "mode": "return",
        "links": [],
        "x": 235,
        "y": 300,
        "wires": []
    },
    {
        "id": "ad76acd06af34364",
        "type": "mongodb out",
        "z": "375d5c966656b361",
        "mongodb": "f168eeb2f9b6dc07",
        "name": "MongoDB",
        "collection": "",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 290,
        "y": 220,
        "wires": []
    },
    {
        "id": "33bdd240470ffc2b",
        "type": "mongodb out",
        "z": "375d5c966656b361",
        "mongodb": "f168eeb2f9b6dc07",
        "name": "MongoDB",
        "collection": "",
        "payonly": true,
        "upsert": false,
        "multi": true,
        "operation": "update",
        "x": 290,
        "y": 340,
        "wires": []
    },
    {
        "id": "ccfe58d6c0c35bad",
        "type": "mongodb in",
        "z": "375d5c966656b361",
        "mongodb": "f168eeb2f9b6dc07",
        "name": "MongoDB",
        "collection": "",
        "operation": "find",
        "x": 290,
        "y": 100,
        "wires": [
            [
                "2e067bd1492a1a46"
            ]
        ]
    }
]