flow.json
[
    {
        "id": "fb5738a77d24f8d4",
        "type": "tab",
        "label": "Settings",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e02fb78e674d1e65",
        "type": "tab",
        "label": "Bot",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "375d5c966656b361",
        "type": "tab",
        "label": "Links",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "af0e239fff0b28cb",
        "type": "group",
        "z": "fb5738a77d24f8d4",
        "name": "Credentials",
        "style": {
            "fill": "#e3f3d3",
            "label": true
        },
        "nodes": [
            "8ecbfc06bc9f14e6",
            "546fccd91bd0c1fe",
            "56b615fdae6f5b7a",
            "7b18f9005dfed6d8",
            "2947b0da37b1b5bf",
            "4794739f0ca7f4d4",
            "4f4297eea101504b",
            "54d3949016ccd055",
            "70fa563524bce094",
            "22ca0fc049e4fb3a",
            "9e2c5ec10d494689",
            "57ec30d9da3742eb",
            "f3f0cea32f89e7ca",
            "b35713f8d22c2279"
        ],
        "x": 34,
        "y": 519,
        "w": 992,
        "h": 322
    },
    {
        "id": "7a97228176a3408a",
        "type": "group",
        "z": "fb5738a77d24f8d4",
        "name": "CRUD Avatars",
        "style": {
            "fill": "#bfdbef",
            "label": true
        },
        "nodes": [
            "43bfe33e6a378328",
            "a298efd64088f5a0",
            "39802f352be3083e",
            "6e7b6a07eb0c5dc0",
            "b570594b2c92e3c0",
            "aa1e0752d37c7b39",
            "f7641d49ab6ba0e4",
            "96b5ed9783a4a440",
            "4376972e7209e2ec",
            "7fe216677821ddd5",
            "444098b8562acd7b",
            "5862302fb38e1d7a",
            "000c2b03b0dfc19e",
            "a84dd7f56aa89c8d",
            "df170f6c217565e6",
            "6c7d66aa5c729d7b",
            "e1a4a227148090a8",
            "25fbfab556855406",
            "11c43033edb6814f",
            "e12d1cc87a6fa9be",
            "cd45a3915eb3e765",
            "9495f99fe09e751a",
            "f1e2d789a1a7b92f",
            "fdd8a17f7ca948d1",
            "ed6187075b52d3e1",
            "44d601641c19f080",
            "03d1b6dbc51ce0d7",
            "122575676cab76ca",
            "93ace29d77f702db",
            "35382b479daaa177"
        ],
        "x": 32.119140625,
        "y": 139,
        "w": 1673.880859375,
        "h": 322
    },
    {
        "id": "f168eeb2f9b6dc07",
        "type": "mongodb",
        "hostname": "${VIDEOAIDB-MONGO-HOST-NAME}",
        "topology": "direct",
        "connectOptions": "authSource=admin",
        "port": "27017",
        "db": "${VIDEOAIDB-MONGO-DB-NAME}",
        "name": ""
    },
    {
        "id": "1ddc99a249e7e0da",
        "type": "telegram bot",
        "botname": "{global.get('botCredential').botName}",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "43bfe33e6a378328",
        "type": "function",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "deleteAvatarById",
        "func": "msg.collection = 'avatars';\nmsg.query = {\n    _id: objectid(msg.payload._id)\n}\ndelete msg.payload._id\nmsg.payload = {\n    $set: {\n        deleted: true\n    }\n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "objectid",
                "module": "objectid"
            }
        ],
        "x": 370,
        "y": 360,
        "wires": [
            [
                "39802f352be3083e"
            ]
        ]
    },
    {
        "id": "a298efd64088f5a0",
        "type": "http in",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "",
        "url": "/deleteAvatar",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 148.119140625,
        "y": 358.875,
        "wires": [
            [
                "43bfe33e6a378328"
            ]
        ]
    },
    {
        "id": "39802f352be3083e",
        "type": "link call",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "",
        "links": [
            "4858d251cc2afe5c"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 560,
        "y": 360,
        "wires": [
            [
                "6e7b6a07eb0c5dc0"
            ]
        ]
    },
    {
        "id": "6e7b6a07eb0c5dc0",
        "type": "http response",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 730,
        "y": 360,
        "wires": []
    },
    {
        "id": "b570594b2c92e3c0",
        "type": "http in",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "",
        "url": "/uploadAvatar",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "f7641d49ab6ba0e4"
            ]
        ]
    },
    {
        "id": "aa1e0752d37c7b39",
        "type": "http response",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 930,
        "y": 180,
        "wires": []
    },
    {
        "id": "f7641d49ab6ba0e4",
        "type": "function",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "create avatar object",
        "func": "msg.collection = 'avatars';\n\nconst thumbnail_url = msg.payload.userUrl;\nlet avatar = { \n    createdAt: Date.now(),\n    presenter_id: objectid(), \n    thumbnail_url,\n    source: \"user\",\n    selected:false,\n    deleted: false };\nmsg.payload = avatar;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "objectid",
                "module": "objectid"
            }
        ],
        "x": 380,
        "y": 180,
        "wires": [
            [
                "96b5ed9783a4a440"
            ]
        ]
    },
    {
        "id": "8ecbfc06bc9f14e6",
        "type": "http in",
        "z": "fb5738a77d24f8d4",
        "g": "af0e239fff0b28cb",
        "name": "",
        "url": "/saveCredentials",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 560,
        "wires": [
            [
                "70fa563524bce094"
            ]
        ]
    },
    {
        "id": "546fccd91bd0c1fe",
        "type": "http response",
        "z": "fb5738a77d24f8d4",
        "g": "af0e239fff0b28cb",
        "name": "response credentials",
        "statusCode": "",
        "headers": {},
        "x": 780,
        "y": 560,
        "wires": []
    },
    {
        "id": "56b615fdae6f5b7a",
        "type": "http in",
        "z": "fb5738a77d24f8d4",
        "g": "af0e239fff0b28cb",
        "name": "",
        "url": "/getCredentials",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 640,
        "wires": [
            [
                "7b18f9005dfed6d8"
            ]
        ]
    },
    {
        "id": "7b18f9005dfed6d8",
        "type": "function",
        "z": "fb5738a77d24f8d4",
        "g": "af0e239fff0b28cb",
        "name": "sortCredentials",
        "func": "msg.collection = 'credentials';\nmsg.payload = {};\nmsg.sort = { '_id': -1 };\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 640,
        "wires": [
            [
                "4f4297eea101504b"
            ]
        ]
    },
    {
        "id": "2947b0da37b1b5bf",
        "type": "http response",
        "z": "fb5738a77d24f8d4",
        "g": "af0e239fff0b28cb",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 950,
        "y": 640,
        "wires": []
    },
    {
        "id": "4794739f0ca7f4d4",
        "type": "function",
        "z": "fb5738a77d24f8d4",
        "g": "af0e239fff0b28cb",
        "name": "getLastCredential",
        "func": "\nif (msg.payload.length > 0) {\n    msg.payload = msg.payload[0];\n} else {\n    msg.payload = {\n        \"_id\": '',\n        \"botName\": '',\n        \"botToken\": '',\n        \"openAIKey\": '',\n        \"chatVersion\": '',\n        \"elevenlabsKey\": '',\n        \"elevenlabsVoice\": '',\n        \"d_idKey\": '',\n        \"d_idAvatar\": '',\n        \"prompt\": '',\n        \"greetings\": '',\n        \"error\": ''\n    }\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 640,
        "wires": [
            [
                "2947b0da37b1b5bf"
            ]
        ]
    },
    {
        "id": "4f4297eea101504b",
        "type": "link call",
        "z": "fb5738a77d24f8d4",
        "g": "af0e239fff0b28cb",
        "name": "",
        "links": [
            "2ea4d611b4476b64"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 570,
        "y": 640,
        "wires": [
            [
                "4794739f0ca7f4d4"
            ]
        ]
    },
    {
        "id": "54d3949016ccd055",
        "type": "link call",
        "z": "fb5738a77d24f8d4",
        "g": "af0e239fff0b28cb",
        "name": "",
        "links": [
            "850f26bd11c45c81"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 580,
        "y": 560,
        "wires": [
            [
                "546fccd91bd0c1fe"
            ]
        ]
    },
    {
        "id": "70fa563524bce094",
        "type": "function",
        "z": "fb5738a77d24f8d4",
        "g": "af0e239fff0b28cb",
        "name": "setCollection",
        "func": "msg.collection = 'credentials';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 560,
        "wires": [
            [
                "54d3949016ccd055"
            ]
        ]
    },
    {
        "id": "22ca0fc049e4fb3a",
        "type": "complete",
        "z": "fb5738a77d24f8d4",
        "g": "af0e239fff0b28cb",
        "name": "",
        "scope": [
            "546fccd91bd0c1fe"
        ],
        "uncaught": false,
        "x": 150,
        "y": 720,
        "wires": [
            [
                "57ec30d9da3742eb"
            ]
        ]
    },
    {
        "id": "9e2c5ec10d494689",
        "type": "inject",
        "z": "fb5738a77d24f8d4",
        "g": "af0e239fff0b28cb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 800,
        "wires": [
            [
                "57ec30d9da3742eb"
            ]
        ]
    },
    {
        "id": "57ec30d9da3742eb",
        "type": "function",
        "z": "fb5738a77d24f8d4",
        "g": "af0e239fff0b28cb",
        "name": "getLastCredential",
        "func": "msg.collection = 'credentials';\nmsg.payload = {};\nmsg.sort = { '_id': -1 };\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 760,
        "wires": [
            [
                "b35713f8d22c2279"
            ]
        ]
    },
    {
        "id": "f3f0cea32f89e7ca",
        "type": "function",
        "z": "fb5738a77d24f8d4",
        "g": "af0e239fff0b28cb",
        "name": "saveCurentCredentialToGlobal",
        "func": "const data = msg.payload[0];\n\nlet process_env = {\n    \"_id\": data._id,\n    \"botName\": data.botName ? data.botName.trim() : '',\n    \"botToken\": data.botToken ? data.botToken.trim() : '',\n    \"openAIKey\": data.openAIKey ? data.openAIKey.trim() : '',\n    \"chatVersion\": data.chatVersion ? data.chatVersion.trim() : '',\n    \"elevenlabsKey\": data.elevenlabsKey ? data.elevenlabsKey.trim() : '',\n    \"elevenlabsVoice\": data.elevenlabsVoice ? data.elevenlabsVoice.trim() : '',\n    \"d_idKey\": data.d_idKey ? data.d_idKey.trim() : '',\n    \"d_idAvatar\": data.d_idAvatar ? data.d_idAvatar.trim() : '',\n    \"prompt\": data.prompt ? data.prompt.trim() : '',\n    \"greetings\": data.greetings ? data.greetings.trim() : '',\n    \"error\": data.error ? data.error.trim() : \"Sorry, something went wrong 😞\"\n}\n\nglobal.set(\"botCredential\", process_env);\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "b35713f8d22c2279",
        "type": "link call",
        "z": "fb5738a77d24f8d4",
        "g": "af0e239fff0b28cb",
        "name": "",
        "links": [
            "2ea4d611b4476b64"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 570,
        "y": 760,
        "wires": [
            [
                "f3f0cea32f89e7ca"
            ]
        ]
    },
    {
        "id": "96b5ed9783a4a440",
        "type": "link call",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "",
        "links": [
            "850f26bd11c45c81"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 560,
        "y": 180,
        "wires": [
            [
                "4376972e7209e2ec"
            ]
        ]
    },
    {
        "id": "4376972e7209e2ec",
        "type": "function",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "return avatar",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 180,
        "wires": [
            [
                "aa1e0752d37c7b39"
            ]
        ]
    },
    {
        "id": "7fe216677821ddd5",
        "type": "http in",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "",
        "url": "/getAllAvatars",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 300,
        "wires": [
            [
                "6c7d66aa5c729d7b"
            ]
        ]
    },
    {
        "id": "444098b8562acd7b",
        "type": "function",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "fetchActors",
        "func": "msg.collection = 'avatars';\nconst BASE_URL = \"https://api.d-id.com/clips/presenters\";\nconst key = msg.payload.key;\n\nmsg.headers = {\n    \"accept\": \"application/json\",\n    \"Authorization\": `Bearer  ${key}`\n}\nmsg.method = \"GET\";\n\nmsg.url = `${BASE_URL}`;\n\n\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "objectid",
                "module": "objectid"
            }
        ],
        "x": 350,
        "y": 240,
        "wires": [
            [
                "000c2b03b0dfc19e"
            ]
        ]
    },
    {
        "id": "5862302fb38e1d7a",
        "type": "http response",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1630,
        "y": 200,
        "wires": []
    },
    {
        "id": "000c2b03b0dfc19e",
        "type": "http request",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 570,
        "y": 240,
        "wires": [
            [
                "a84dd7f56aa89c8d"
            ]
        ]
    },
    {
        "id": "a84dd7f56aa89c8d",
        "type": "function",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "checkExistenceActorsInDb",
        "func": "if (msg.statusCode == 200) {\n    let presenters=msg.payload.presenters;\n    let actors = presenters.map(presenter => {\n        // Витягуємо необхідні дані для створення об'єкта actor\n        let { presenter_id, thumbnail_url } = presenter;\n\n        // Створюємо об'єкт actor\n        return {\n            createdAt: Date.now(),\n            presenter_id,\n            thumbnail_url,\n            source: \"d_id\",\n            selected: false,\n            deleted: false\n        };\n    });\n    msg.actors = actors;\n    // Записуємо actors в msg.payload\n    msg.payload = {\n        presenter_id: { $in: msg.actors.map(actor => actor.presenter_id) }\n    }\n   return msg;\n} else {\n    msg.payload = {\n        type: 'message',\n        content: \"ERROR. Sorry, something went wrong 😞\",\n       \n    }\n\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 240,
        "wires": [
            [
                "cd45a3915eb3e765"
            ]
        ]
    },
    {
        "id": "df170f6c217565e6",
        "type": "http in",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "",
        "url": "/getActors",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 240,
        "wires": [
            [
                "444098b8562acd7b"
            ]
        ]
    },
    {
        "id": "6c7d66aa5c729d7b",
        "type": "function",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "sort Avatars",
        "func": "msg.collection = 'avatars';\nmsg.payload = {\n    deleted: false\n};\nmsg.sort = { 'createdAt': -1 };\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 300,
        "wires": [
            [
                "25fbfab556855406"
            ]
        ]
    },
    {
        "id": "e1a4a227148090a8",
        "type": "http response",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 950,
        "y": 300,
        "wires": []
    },
    {
        "id": "25fbfab556855406",
        "type": "link call",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "",
        "links": [
            "2ea4d611b4476b64"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 550,
        "y": 300,
        "wires": [
            [
                "122575676cab76ca"
            ]
        ]
    },
    {
        "id": "c68c75fac53ea377",
        "type": "inject",
        "z": "fb5738a77d24f8d4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 900,
        "wires": [
            [
                "582a6268302445b6"
            ]
        ]
    },
    {
        "id": "582a6268302445b6",
        "type": "function",
        "z": "fb5738a77d24f8d4",
        "name": "deleteAvatarsCollection",
        "func": "msg.collection = 'avatars';\nmsg.payload= {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 900,
        "wires": [
            [
                "e7020a361461f03a"
            ]
        ]
    },
    {
        "id": "e7020a361461f03a",
        "type": "mongodb out",
        "z": "fb5738a77d24f8d4",
        "mongodb": "f168eeb2f9b6dc07",
        "name": "",
        "collection": "avatars",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 770,
        "y": 900,
        "wires": []
    },
    {
        "id": "11c43033edb6814f",
        "type": "link call",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "",
        "links": [
            "850f26bd11c45c81"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1320,
        "y": 200,
        "wires": [
            [
                "e12d1cc87a6fa9be"
            ]
        ]
    },
    {
        "id": "e12d1cc87a6fa9be",
        "type": "function",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "return actors",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1470,
        "y": 200,
        "wires": [
            [
                "5862302fb38e1d7a"
            ]
        ]
    },
    {
        "id": "cd45a3915eb3e765",
        "type": "link call",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "",
        "links": [
            "2ea4d611b4476b64"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1010,
        "y": 240,
        "wires": [
            [
                "9495f99fe09e751a"
            ]
        ]
    },
    {
        "id": "9495f99fe09e751a",
        "type": "function",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "condition",
        "func": "if (msg.payload.length > 0) {\n    msg.statusCode = 200;\n    return [null, msg]\n} else {\n    msg.payload = msg.actors\n    return [msg, null]\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 240,
        "wires": [
            [
                "11c43033edb6814f"
            ],
            [
                "f1e2d789a1a7b92f"
            ]
        ]
    },
    {
        "id": "f1e2d789a1a7b92f",
        "type": "http response",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1310,
        "y": 260,
        "wires": []
    },
    {
        "id": "fdd8a17f7ca948d1",
        "type": "http in",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "",
        "url": "/selectAvatar",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 420,
        "wires": [
            [
                "44d601641c19f080"
            ]
        ]
    },
    {
        "id": "ed6187075b52d3e1",
        "type": "http response",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1110,
        "y": 420,
        "wires": []
    },
    {
        "id": "44d601641c19f080",
        "type": "function",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "setSelectedTrue",
        "func": "msg.collection = 'avatars';\n\nmsg.query = {\n    _id: objectid(msg.payload._id)\n};\nmsg.target = {\n    _id: objectid(msg.payload._id)\n};\n\nmsg.payload = {\n    $set: {\n        selected: true\n    }\n};\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "objectid",
                "module": "objectid"
            }
        ],
        "x": 360,
        "y": 420,
        "wires": [
            [
                "03d1b6dbc51ce0d7"
            ]
        ]
    },
    {
        "id": "03d1b6dbc51ce0d7",
        "type": "link call",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "",
        "links": [
            "4858d251cc2afe5c"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 560,
        "y": 420,
        "wires": [
            [
                "93ace29d77f702db"
            ]
        ]
    },
    {
        "id": "122575676cab76ca",
        "type": "function",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "returnStatusCode",
        "func": "if (msg.payload.length > 0) {\n    msg.statusCode = 200;\n    return [msg, null]\n} else {\n    return [null, msg]\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 300,
        "wires": [
            [
                "e1a4a227148090a8"
            ]
        ]
    },
    {
        "id": "93ace29d77f702db",
        "type": "function",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "setSelectedFalse",
        "func": "msg.multi = true;\nmsg.upsert = false;\nmsg.query = {\n    _id: { $ne: objectid(msg.target._id) } // Всі, крім обраного об'єкта\n};\nmsg.payload = {\n    $set: {\n        selected: false\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "objectid",
                "module": "objectid"
            }
        ],
        "x": 770,
        "y": 420,
        "wires": [
            [
                "35382b479daaa177"
            ]
        ]
    },
    {
        "id": "35382b479daaa177",
        "type": "link call",
        "z": "fb5738a77d24f8d4",
        "g": "7a97228176a3408a",
        "name": "",
        "links": [
            "4858d251cc2afe5c"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 960,
        "y": 420,
        "wires": [
            [
                "ed6187075b52d3e1"
            ]
        ]
    },
    {
        "id": "3d3e56ba0f1cc91a",
        "type": "telegram command",
        "z": "e02fb78e674d1e65",
        "name": "",
        "command": "/start",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "1ddc99a249e7e0da",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 70,
        "y": 80,
        "wires": [
            [
                "9add7abe9a8f304d"
            ],
            []
        ]
    },
    {
        "id": "263b65748b561067",
        "type": "function",
        "z": "e02fb78e674d1e65",
        "name": "startMessage",
        "func": "msg.fromDB = msg.payload;\n\nconst startMessage = global.get('botCredential').greetings;\nconst firstMessage = `${startMessage}\n\nHow do you want to communicate?`;\nconst opts = {\n    reply_markup: JSON.stringify({\n        \"inline_keyboard\": [[\n            { \"text\": \"⌨️ Text\", \"callback_data\": \"/text\" },\n            { \"text\": \"🎤 Voice\", \"callback_data\": \"/voice\" },\n            { \"text\": \"🎬 Video\", \"callback_data\": \"/video\" }\n        ]]\n    })\n};\n\nmsg.payload = {\n    type: 'message',\n    content: firstMessage,\n    chatId: msg.telegram.chatId,\n    options: opts,\n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 80,
        "wires": [
            [
                "513680f071560cb4",
                "fcecf60a9f835603"
            ]
        ]
    },
    {
        "id": "513680f071560cb4",
        "type": "telegram sender",
        "z": "e02fb78e674d1e65",
        "name": "",
        "bot": "1ddc99a249e7e0da",
        "haserroroutput": false,
        "outputs": 1,
        "x": 820,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "c9495559c50237fe",
        "type": "function",
        "z": "e02fb78e674d1e65",
        "name": "switchCommunicationMethod",
        "func": "msg.telegram = msg.payload;\nmsg.communicationMethod = null;\n\nlet content = null;\nlet message = null;\nswitch (msg.payload.content || msg.originalMessage.text) {\n    case '/text': {\n        \n        msg.communicationMethod = 'TEXT';\n        content = '⌨️ Switched to text mode';\n       break;\n    }\n    case '/voice': {\n        \n        msg.communicationMethod = 'VOICE';\n        content = '🎤 Switched to voice mode';\n        break;\n    }\n    case '/video': {\n        \n        msg.communicationMethod = 'VIDEO';\n        content = '🎬 Switched to video mode';\n        break;\n    }\n    default:\n        content = 'The communication method is not selected!';\n        break;\n}\n\nmsg.payload = {\n    type: 'message',\n    content: content,\n    chatId: msg.telegram.chatId,\n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 300,
        "wires": [
            [
                "3a8bd55cd2a4243b",
                "128490b61a4a477f"
            ]
        ]
    },
    {
        "id": "3a8bd55cd2a4243b",
        "type": "telegram sender",
        "z": "e02fb78e674d1e65",
        "name": "",
        "bot": "1ddc99a249e7e0da",
        "haserroroutput": false,
        "outputs": 1,
        "x": 640,
        "y": 240,
        "wires": [
            [
                "e2e1de0d5af2a353"
            ]
        ]
    },
    {
        "id": "128490b61a4a477f",
        "type": "function",
        "z": "e02fb78e674d1e65",
        "name": "setCommunicationMethodToMongo",
        "func": "const userId = msg.payload.chatId;\n\nmsg.collection = 'chatUsers';\nmsg.query = {\n    userId\n}\nmsg.payload = {\n    $set: {\n        communicationMethod: msg.communicationMethod\n    }\n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 300,
        "wires": [
            [
                "6ab210ce151e9838"
            ]
        ]
    },
    {
        "id": "0c37bd1c43a47a20",
        "type": "telegram event",
        "z": "e02fb78e674d1e65",
        "name": "eventListener",
        "bot": "1ddc99a249e7e0da",
        "event": "callback_query",
        "autoanswer": false,
        "x": 90,
        "y": 200,
        "wires": [
            [
                "c9495559c50237fe"
            ]
        ]
    },
    {
        "id": "6ab210ce151e9838",
        "type": "link call",
        "z": "e02fb78e674d1e65",
        "name": "",
        "links": [
            "4858d251cc2afe5c"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 960,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "3371cdaf874ff729",
        "type": "telegram command",
        "z": "e02fb78e674d1e65",
        "name": "",
        "command": "/text",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "1ddc99a249e7e0da",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 70,
        "y": 260,
        "wires": [
            [
                "c9495559c50237fe"
            ],
            []
        ]
    },
    {
        "id": "f89e6a1fb1cf6f49",
        "type": "telegram command",
        "z": "e02fb78e674d1e65",
        "name": "",
        "command": "/voice",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "1ddc99a249e7e0da",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 70,
        "y": 320,
        "wires": [
            [
                "c9495559c50237fe"
            ],
            []
        ]
    },
    {
        "id": "5f294c3817e54d49",
        "type": "telegram command",
        "z": "e02fb78e674d1e65",
        "name": "",
        "command": "/video",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "1ddc99a249e7e0da",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 70,
        "y": 380,
        "wires": [
            [
                "c9495559c50237fe"
            ],
            []
        ]
    },
    {
        "id": "2744f62931712fa4",
        "type": "link call",
        "z": "e02fb78e674d1e65",
        "name": "",
        "links": [
            "2ea4d611b4476b64"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 450,
        "y": 80,
        "wires": [
            [
                "263b65748b561067"
            ]
        ]
    },
    {
        "id": "9add7abe9a8f304d",
        "type": "function",
        "z": "e02fb78e674d1e65",
        "name": "checkChatUserExist",
        "func": "msg.collection = 'chatUsers';\n\nmsg.telegram = msg.payload;\n\nmsg.payload = {\n    userId: msg.telegram.chatId,\n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 80,
        "wires": [
            [
                "2744f62931712fa4"
            ]
        ]
    },
    {
        "id": "fcecf60a9f835603",
        "type": "function",
        "z": "e02fb78e674d1e65",
        "name": "setChatUsers",
        "func": "if (msg.fromDB.length === 0) {\n    msg.collection = 'chatUsers';\n    msg.payload = {\n        userId: msg.telegram.chatId,\n    }\n\n    return msg;\n} \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 80,
        "wires": [
            [
                "f59dc077383da8f0"
            ]
        ]
    },
    {
        "id": "f59dc077383da8f0",
        "type": "link call",
        "z": "e02fb78e674d1e65",
        "name": "",
        "links": [
            "850f26bd11c45c81"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1000,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "6825ad0924bc089c",
        "type": "telegram receiver",
        "z": "e02fb78e674d1e65",
        "name": "",
        "bot": "1ddc99a249e7e0da",
        "saveDataDir": "",
        "filterCommands": true,
        "x": 100,
        "y": 500,
        "wires": [
            [
                "7e8bf6b052d607d2"
            ],
            []
        ]
    },
    {
        "id": "494f733c48552c0e",
        "type": "telegram sender",
        "z": "e02fb78e674d1e65",
        "name": "",
        "bot": "1ddc99a249e7e0da",
        "haserroroutput": false,
        "outputs": 1,
        "x": 920,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "0cb89979157781f2",
        "type": "function",
        "z": "e02fb78e674d1e65",
        "name": "chooseMethod or questionToAI",
        "func": "msg.userData = {\n    ...msg.payload[0],\n    chatId: msg.telegram.chatId,\n}\n\nif (msg.userData.communicationMethod == null ||\n    msg.userData.communicationMethod == undefined) {\n\n    const opts = {\n        reply_markup: JSON.stringify({\n            \"inline_keyboard\": [[\n                { \"text\": \"⌨️ Text\", \"callback_data\": \"/text\" },\n                { \"text\": \"🎤 Voice\", \"callback_data\": \"/voice\" },\n                { \"text\": \"🎬 Video\", \"callback_data\": \"/video\" }\n            ]]\n        })\n    };\n\n    msg.payload = {\n        type: 'message',\n        content: 'Please, choose the method of communication',\n        chatId: msg.telegram.chatId,\n        options: opts,\n    }\n\n    return [msg, null];\n}\n\nconst botCredential = global.get('botCredential');\n\nmsg.OPENAI_API_KEY = botCredential.openAIKey;\nmsg.prompt = botCredential.prompt;\nmsg.model = botCredential.chatVersion;\nmsg.messages = [\n    { \"role\": \"system\", \"content\": botCredential.prompt },\n    { \"role\": \"user\", \"content\": msg.telegram.content }\n];\n\nreturn [null, msg];\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 500,
        "wires": [
            [
                "494f733c48552c0e"
            ],
            [
                "3bd33f5fa8c96173"
            ]
        ]
    },
    {
        "id": "dd1a26676b4bba46",
        "type": "function",
        "z": "e02fb78e674d1e65",
        "name": "generateVoice",
        "func": "const voice_id = global.get('botCredential').elevenlabsVoice;\nconst content = msg.payload.choices[0].message.content;\nconst key = global.get('botCredential').elevenlabsKey;\n\nmsg.url = `https://api.elevenlabs.io/v1/text-to-speech/${voice_id}`;\nmsg.method = 'POST';\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'xi-api-key': key\n};\n\nmsg.payload = {\n    text: content,\n    voice_settings: {\n        \"similarity_boost\": 1,\n        \"stability\": 1,\n        \"use_speaker_boost\": true\n    }\n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1540,
        "y": 480,
        "wires": [
            [
                "90b6dc660cf7fcf4"
            ]
        ]
    },
    {
        "id": "d25239f8d1130886",
        "type": "telegram sender",
        "z": "e02fb78e674d1e65",
        "name": "",
        "bot": "1ddc99a249e7e0da",
        "haserroroutput": false,
        "outputs": 1,
        "x": 2060,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "90b6dc660cf7fcf4",
        "type": "http request",
        "z": "e02fb78e674d1e65",
        "name": "",
        "method": "use",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1730,
        "y": 480,
        "wires": [
            [
                "d70b63808f185072"
            ]
        ]
    },
    {
        "id": "d70b63808f185072",
        "type": "function",
        "z": "e02fb78e674d1e65",
        "name": "statusCode",
        "func": "if (msg.statusCode == 200) {\n    msg.payload = {\n        type: 'voice',\n        content: msg.payload,\n        chatId: msg.userData.chatId\n    }\n\n    return msg;\n} else {\n    const error = global.get('botCredential').error;\n    msg.payload = {\n        type: 'message',\n        content: error,\n        chatId: msg.userData.chatId\n    }\n\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1890,
        "y": 480,
        "wires": [
            [
                "d25239f8d1130886"
            ]
        ]
    },
    {
        "id": "7e8bf6b052d607d2",
        "type": "function",
        "z": "e02fb78e674d1e65",
        "name": "getUserLastData",
        "func": "msg.collection = 'chatUsers';\nmsg.telegram = msg.payload;\n\nmsg.payload = {\n    userId: msg.payload.chatId,\n};\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 500,
        "wires": [
            [
                "305391eadaa8f1f8"
            ]
        ]
    },
    {
        "id": "305391eadaa8f1f8",
        "type": "link call",
        "z": "e02fb78e674d1e65",
        "name": "",
        "links": [
            "2ea4d611b4476b64"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 470,
        "y": 500,
        "wires": [
            [
                "0cb89979157781f2"
            ]
        ]
    },
    {
        "id": "3bd33f5fa8c96173",
        "type": "openai-ubos",
        "z": "e02fb78e674d1e65",
        "name": "",
        "model": "gpt-3.5-turbo",
        "temperature": 0.5,
        "max_tokens": 60,
        "prompt": "",
        "frequency_penalty": 0,
        "presence_penalty": 0,
        "top_p": 1,
        "stop": {
            "type": "json",
            "value": "[]"
        },
        "OPENAI_API_KEY": "",
        "x": 920,
        "y": 540,
        "wires": [
            [
                "d74735e62e0407d5"
            ]
        ]
    },
    {
        "id": "e73c1e7f1e32ae64",
        "type": "inject",
        "z": "e02fb78e674d1e65",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 140,
        "wires": [
            [
                "37dcda71d8d1fd06"
            ]
        ]
    },
    {
        "id": "37dcda71d8d1fd06",
        "type": "function",
        "z": "e02fb78e674d1e65",
        "name": "deleteChatCollection",
        "func": "msg.collection = 'chatUsers';\nmsg.payload= {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 140,
        "wires": [
            [
                "01223bc821fa3974"
            ]
        ]
    },
    {
        "id": "01223bc821fa3974",
        "type": "mongodb out",
        "z": "e02fb78e674d1e65",
        "mongodb": "f168eeb2f9b6dc07",
        "name": "",
        "collection": "chatUsers",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 920,
        "y": 140,
        "wires": []
    },
    {
        "id": "1774755670398181",
        "type": "function",
        "z": "e02fb78e674d1e65",
        "name": "generateVideoWithUserAvatar",
        "func": "const BASE_URL = \"https://api.d-id.com/talks\";\nconst content = msg.response[0].message.content;\nconst key = global.get('botCredential').d_idKey;\nconst voice = global.get('botCredential').elevenlabsVoice;\nconst avatar = msg.payload[0].thumbnail_url;\n\nmsg.method = 'POST';\nmsg.headers = {\n    'Content-Type': 'application/json',\n    \"accept\": \"application/json\",\n    \"Authorization\": `Basic ${key}`\n};\nmsg.url = `${BASE_URL}`;\nmsg.payload = {\n    \"script\": {\n        \"type\": \"text\",\n        \"provider\": { \"type\": 'elevenlabs', \"voice_id\": voice },\n        \"input\": content\n    },\n    \"config\": { \"result_format\": 'mp4', \"stitch\": true },\n    \"source_url\": avatar,\n    \"user_data\": JSON.stringify(msg.telegram.chatId),\n    \"webhook\": `${env.get(\"NODEREDURL\")}/webhook`,\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2110,
        "y": 540,
        "wires": [
            [
                "ba5d465b29f3fa2d"
            ]
        ]
    },
    {
        "id": "b9e11a67a003a7f1",
        "type": "telegram sender",
        "z": "e02fb78e674d1e65",
        "name": "",
        "bot": "1ddc99a249e7e0da",
        "haserroroutput": false,
        "outputs": 1,
        "x": 2680,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "ba5d465b29f3fa2d",
        "type": "http request",
        "z": "e02fb78e674d1e65",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 2350,
        "y": 540,
        "wires": [
            [
                "37cda1813d2152f7"
            ]
        ]
    },
    {
        "id": "37cda1813d2152f7",
        "type": "function",
        "z": "e02fb78e674d1e65",
        "name": "statusCode",
        "func": "if (msg.statusCode == 201) {\n    msg.clip = msg.payload;\n    msg.payload = {\n        type: 'message',\n        content: 'The video is being processed, you need to wait a bit...',\n        chatId: msg.userData.chatId\n    }\n\n    return msg;\n} else {\n    const error = global.get('botCredential').error;\n    msg.payload = {\n        type: 'message',\n        content: error,\n        chatId: msg.userData.chatId\n    }\n\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2510,
        "y": 540,
        "wires": [
            [
                "b9e11a67a003a7f1"
            ]
        ]
    },
    {
        "id": "60e758bdcc29e6e9",
        "type": "function",
        "z": "e02fb78e674d1e65",
        "name": "findAvatar",
        "func": "msg.collection = 'avatars';\nmsg.response = msg.payload.choices;\nmsg.payload = {\n    deleted: false,\n    selected: true\n};\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1520,
        "y": 560,
        "wires": [
            [
                "efb05de0f2937f9c"
            ]
        ]
    },
    {
        "id": "efb05de0f2937f9c",
        "type": "link call",
        "z": "e02fb78e674d1e65",
        "name": "",
        "links": [
            "2ea4d611b4476b64"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1710,
        "y": 560,
        "wires": [
            [
                "3c25ab7e2f53a0b0"
            ]
        ]
    },
    {
        "id": "abc581cd9b9b870f",
        "type": "function",
        "z": "e02fb78e674d1e65",
        "name": "generateVideoWithActor",
        "func": "const BASE_URL = \"https://api.d-id.com/clips\";\nconst content = msg.response[0].message.content;\nconst avatar = global.get('botCredential').d_idAvatar;\nconst key = global.get('botCredential').d_idKey;\nconst voice = global.get('botCredential').elevenlabsVoice;\n\nmsg.method = 'POST';\nmsg.headers = {\n    \"content-type\": 'application/json',\n    \"accept\": \"application/json\",\n    \"Authorization\": `Basic ${key}`\n};\n\nmsg.payload = {\n    \"script\": {\n        \"type\": 'text',\n        \"provider\": { \"type\": 'elevenlabs', \"voice_id\": voice },\n        \"input\": content\n    },\n    \"config\": { \"result_format\": 'mp4' },\n    \"presenter_id\": avatar,\n    \"user_data\": JSON.stringify(msg.telegram.chatId),\n    \"webhook\": `${env.get(\"NODEREDURL\")}/webhook`,\n    \"background\": {\n        \"color\": \"#ffffff\"\n    }\n}\nmsg.url = `${BASE_URL}`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2090,
        "y": 600,
        "wires": [
            [
                "d5fb326a99a8ce0f"
            ]
        ]
    },
    {
        "id": "a7dd2d5ef82e95ee",
        "type": "telegram sender",
        "z": "e02fb78e674d1e65",
        "name": "",
        "bot": "1ddc99a249e7e0da",
        "haserroroutput": false,
        "outputs": 1,
        "x": 2680,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "d5fb326a99a8ce0f",
        "type": "http request",
        "z": "e02fb78e674d1e65",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 2350,
        "y": 600,
        "wires": [
            [
                "553f27f322d99414"
            ]
        ]
    },
    {
        "id": "553f27f322d99414",
        "type": "function",
        "z": "e02fb78e674d1e65",
        "name": "statusCode",
        "func": "if (msg.statusCode == 201) {\n    msg.clip = msg.payload;\n    msg.payload = {\n        type: 'message',\n        content: 'The video is being processed, you need to wait a bit...',\n        chatId: msg.userData.chatId\n    }\n\n    return msg;\n} else {\n    const error = global.get('botCredential').error;\n    msg.payload = {\n        type: 'message',\n        content: error,\n        chatId: msg.userData.chatId\n    }\n\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2510,
        "y": 600,
        "wires": [
            [
                "a7dd2d5ef82e95ee"
            ]
        ]
    },
    {
        "id": "3c25ab7e2f53a0b0",
        "type": "switch",
        "z": "e02fb78e674d1e65",
        "name": "typeOfAvatar",
        "property": "payload[0].source",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "user",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "d_id",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1870,
        "y": 560,
        "wires": [
            [
                "1774755670398181"
            ],
            [
                "abc581cd9b9b870f"
            ]
        ]
    },
    {
        "id": "4085fbb2bc7ec96e",
        "type": "function",
        "z": "e02fb78e674d1e65",
        "name": "secondMessage",
        "func": "\n   const message = `How can I assist you, ${msg.telegram.from.first_name} ?`;\n    \n   \n        msg.payload = {\n            type: 'message',\n            content: message,\n            chatId: msg.telegram.chatId,\n        }\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 240,
        "wires": [
            [
                "85d44fd30c929eca"
            ]
        ]
    },
    {
        "id": "85d44fd30c929eca",
        "type": "telegram sender",
        "z": "e02fb78e674d1e65",
        "name": "",
        "bot": "1ddc99a249e7e0da",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1180,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "e2e1de0d5af2a353",
        "type": "delay",
        "z": "e02fb78e674d1e65",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 800,
        "y": 240,
        "wires": [
            [
                "4085fbb2bc7ec96e"
            ]
        ]
    },
    {
        "id": "7da34e585b2888b2",
        "type": "switch",
        "z": "e02fb78e674d1e65",
        "name": "",
        "property": "userData.communicationMethod",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "TEXT",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "VOICE",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "VIDEO",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1270,
        "y": 480,
        "wires": [
            [
                "f67dcd4c092fb582"
            ],
            [
                "dd1a26676b4bba46"
            ],
            [
                "60e758bdcc29e6e9"
            ]
        ]
    },
    {
        "id": "f67dcd4c092fb582",
        "type": "function",
        "z": "e02fb78e674d1e65",
        "name": "setupOpenAiReguest",
        "func": "msg.payload = {\n    type: 'message',\n    content: msg.payload.choices[0].message.content,\n    chatId: msg.userData.chatId\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1560,
        "y": 400,
        "wires": [
            [
                "e37323d9038eea78"
            ]
        ]
    },
    {
        "id": "e37323d9038eea78",
        "type": "telegram sender",
        "z": "e02fb78e674d1e65",
        "name": "",
        "bot": "1ddc99a249e7e0da",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1760,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "2b1c160de187a01c",
        "type": "http in",
        "z": "e02fb78e674d1e65",
        "name": "",
        "url": "/webhook",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 720,
        "wires": [
            [
                "555f3438022890c1",
                "d41469a92ec47721"
            ]
        ]
    },
    {
        "id": "555f3438022890c1",
        "type": "http response",
        "z": "e02fb78e674d1e65",
        "name": "ok",
        "statusCode": "201",
        "headers": {},
        "x": 290,
        "y": 680,
        "wires": []
    },
    {
        "id": "d41469a92ec47721",
        "type": "function",
        "z": "e02fb78e674d1e65",
        "name": "sendVideoToTelegram",
        "func": "if (msg.payload.status == 'done') {\n    msg.url = `https://api.telegram.org/bot${global.get('botCredential').botToken}/sendVideo`;\n    msg.headers = {\n        \"content-type\": \"application/json\"\n    }\n    msg.payload = {\n        video: `${msg.payload.result_url}/videos?filename=videoresponse&bred=s`,\n        \n        chat_id: JSON.parse(msg.payload.user_data),\n        \n        type: 'video_note'\n    }\n   \n\n    return [msg, null]\n} else {\n    const error = global.get('botCredential').error;\n    msg.payload = {\n        type: 'message',\n        content: error,\n        chatId: JSON.parse(msg.payload.user_data)\n    }\n\n    return [null, msg]\n}\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 720,
        "wires": [
            [
                "68868b7d2c3dd751"
            ],
            [
                "63376bc55053557b"
            ]
        ]
    },
    {
        "id": "63376bc55053557b",
        "type": "telegram sender",
        "z": "e02fb78e674d1e65",
        "name": "",
        "bot": "1ddc99a249e7e0da",
        "haserroroutput": false,
        "outputs": 1,
        "x": 600,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "68868b7d2c3dd751",
        "type": "http request",
        "z": "e02fb78e674d1e65",
        "name": "",
        "method": "POST",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 590,
        "y": 700,
        "wires": [
            [
                "16f9c3f7e3aa057c"
            ]
        ]
    },
    {
        "id": "591a602877cbcdb5",
        "type": "catch",
        "z": "e02fb78e674d1e65",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 80,
        "y": 860,
        "wires": [
            [
                "20a5dd037b9c1e4d"
            ]
        ]
    },
    {
        "id": "20a5dd037b9c1e4d",
        "type": "debug",
        "z": "e02fb78e674d1e65",
        "name": "msg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 860,
        "wires": []
    },
    {
        "id": "9278e0b11f19f4c1",
        "type": "telegram sender",
        "z": "e02fb78e674d1e65",
        "name": "",
        "bot": "1ddc99a249e7e0da",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1300,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "d74735e62e0407d5",
        "type": "function",
        "z": "e02fb78e674d1e65",
        "name": "statusCode",
        "func": "if (msg.statusCode == 200) {\n    return [msg, null]\n    \n} else {\n    const error = global.get('botCredential').error;\n    msg.payload = {\n        type: 'message',\n        content: error,\n        chatId: msg.userData.chatId\n    }\n\n    return [null, msg]\n}\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 540,
        "wires": [
            [
                "7da34e585b2888b2"
            ],
            [
                "9278e0b11f19f4c1"
            ]
        ]
    },
    {
        "id": "8b9eb7df43129a08",
        "type": "inject",
        "z": "e02fb78e674d1e65",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 800,
        "wires": [
            [
                "d41469a92ec47721"
            ]
        ]
    },
    {
        "id": "0b93be538d48a46e",
        "type": "telegram sender",
        "z": "e02fb78e674d1e65",
        "name": "",
        "bot": "1ddc99a249e7e0da",
        "haserroroutput": false,
        "outputs": 1,
        "x": 940,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "16f9c3f7e3aa057c",
        "type": "function",
        "z": "e02fb78e674d1e65",
        "name": "statusCode",
        "func": "if (msg.statusCode == 200) {\n    return null;\n} else {\n    const error = global.get('botCredential').error;\n    msg.payload = {\n        type: 'message',\n        content: error,\n        chatId: msg.userData.chatId\n    }\n\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 700,
        "wires": [
            [
                "0b93be538d48a46e"
            ]
        ]
    },
    {
        "id": "2ea4d611b4476b64",
        "type": "link in",
        "z": "375d5c966656b361",
        "name": "findDB",
        "links": [],
        "x": 110,
        "y": 100,
        "wires": [
            [
                "ccfe58d6c0c35bad"
            ]
        ],
        "l": true
    },
    {
        "id": "2e067bd1492a1a46",
        "type": "link out",
        "z": "375d5c966656b361",
        "name": "link out 3",
        "mode": "return",
        "links": [],
        "x": 415,
        "y": 100,
        "wires": []
    },
    {
        "id": "850f26bd11c45c81",
        "type": "link in",
        "z": "375d5c966656b361",
        "name": "insertDB",
        "links": [],
        "x": 120,
        "y": 220,
        "wires": [
            [
                "ad76acd06af34364",
                "7a3aef4bde311dfa"
            ]
        ],
        "l": true
    },
    {
        "id": "7a3aef4bde311dfa",
        "type": "link out",
        "z": "375d5c966656b361",
        "name": "link out 4",
        "mode": "return",
        "links": [],
        "x": 235,
        "y": 180,
        "wires": []
    },
    {
        "id": "4858d251cc2afe5c",
        "type": "link in",
        "z": "375d5c966656b361",
        "name": "updateDB",
        "links": [],
        "x": 120,
        "y": 340,
        "wires": [
            [
                "33bdd240470ffc2b",
                "ba42b3f1e81a19d9"
            ]
        ],
        "l": true
    },
    {
        "id": "ba42b3f1e81a19d9",
        "type": "link out",
        "z": "375d5c966656b361",
        "name": "link out 5",
        "mode": "return",
        "links": [],
        "x": 235,
        "y": 300,
        "wires": []
    },
    {
        "id": "ad76acd06af34364",
        "type": "mongodb out",
        "z": "375d5c966656b361",
        "mongodb": "f168eeb2f9b6dc07",
        "name": "MongoDB",
        "collection": "",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 290,
        "y": 220,
        "wires": []
    },
    {
        "id": "33bdd240470ffc2b",
        "type": "mongodb out",
        "z": "375d5c966656b361",
        "mongodb": "f168eeb2f9b6dc07",
        "name": "MongoDB",
        "collection": "",
        "payonly": true,
        "upsert": false,
        "multi": true,
        "operation": "update",
        "x": 290,
        "y": 340,
        "wires": []
    },
    {
        "id": "ccfe58d6c0c35bad",
        "type": "mongodb in",
        "z": "375d5c966656b361",
        "mongodb": "f168eeb2f9b6dc07",
        "name": "MongoDB",
        "collection": "",
        "operation": "find",
        "x": 290,
        "y": 100,
        "wires": [
            [
                "2e067bd1492a1a46"
            ]
        ]
    }
]